body{
  margin:0;
  font-family: Inter, system-ui;
  background:#071b2b;
}

/* HEADER */

.header{
  padding:30px 40px;
  background:#0f2f47;
  color:white;
}

.header h1{
  margin:0;
  font-size:32px;
  letter-spacing:1px;
}

/* GRID DASHBOARD */

.grid{

  padding:30px;

  display:grid;

  grid-template-columns: 2fr 1fr;
  grid-template-rows: 420px 220px;

  gap:25px;

}

/* MAP */

.map{
  background:#0c2435;
  border-radius:10px;
  padding:10px;
}

/* CHAT BOT */

.bot{
  background:#0c2435;
  border-radius:10px;
  padding:10px;
}

/* TIMELINE */

.timeline{

  grid-column:1 / span 2;

  background:#0c2435;
  border-radius:10px;
  padding:20px;

  color:white;
}